<!DOCTYPE html>
<html>

<head>
    <title>
        Matheus Vieira Santos
    </title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.0/jquery.min.js"></script>
    <link rel="stylesheet" href="../style/estilo.css">
    <script src="../functions/funcoes.js"></script>
</head>

<body>
    <header>
        <div id="cabecalho">
            <h1>Matheus Vieira Santos</h1>
        </div>
        <nav>
            <a href="../index.html">Inicío</a>
            <a href="projetos.html">Projetos</a>
            <a href="formacao.html">Formação</a>
            <a href="sobremim.html">Sobre mim</a>
            <a href="#">Contato</a>
        </nav>
    </header>
    <hr>
    <section>
        <h1>Contato</h1>
        <br />
        <br />
        <section class="container-contato">
            <h1 id="titulo">Contato</h1>
            <p>Endereço: Rua do Saber, 415 D - Chapecó/SC<br />
                Telefone: +55 49 9 8870-6208<br />
                E-mail: matheus.eu.mv@gmail.com<br />
                Currículo Lattes: lattes.cnpq.br/0931720369732237<br />
                Linked-in: linkedin.com/in/matheus-vieira-santos1167b4144/<br />
            </p>
            <div id="maps">
                <div style="overflow:hidden;width: 700px;position: relative;"><iframe width="400" height="200"
                        src="https://maps.google.com/maps?width=700&amp;height=200&amp;hl=en&amp;q=Rua%20Nereu%20Ramos%2C%20N%C2%BA%20182%20Bairro%20Centro%20-%20CEP%2089800-000%20-%20Chapec%C3%B3%2C%20SC+(Smith%20Advogados)&amp;ie=UTF8&amp;t=&amp;z=18&amp;iwloc=B&amp;output=embed"
                        frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe>
                    <div
                        style="position: absolute;width: 80%;bottom: 10px;left: 0;right: 0;margin-left: auto;margin-right: auto;color: #000;text-align: center;">
                        <small style="line-height: 1.8;font-size: 2px;background: #fff;">Powered by <a
                                href="https://embedgooglemaps.com/it/">embedgooglemaps IT</a> & <a
                                href="https://newyorkhoponhopoffbus.nl">deal krijgen</a></small>
                    </div>
                    <style>
                        #gmap_canvas img {
                            max-width: none !important;
                            background: none !important
                        }
                    </style>
                </div>
            </div>
        </section>
    </section>
    <footer>
        <a href="https://www.facebook.com/vieir4ndo">
            <img src="../img/logo/facebook.png">
        </a>
        <a href="https://twitter.com.br/vieir4ndo">
            <img src="../img/logo/twitter-logo-final.png">
        </a>
        <a href="https://www.youtube.com/channel/UCx3J5aiV1PKElesn0D_tf_w">
            <img src="../img/logo/youtube_4.png">
        </a>
        <h3>© Copyright 2019 - All Rights Reserved - Matheus Vieira Santos</h3>
    </footer>
</body>

</html>