<!DOCTYPE html>
<html>

<head>
    <title> Matheus Vieira Santos </title>
    <link rel="stylesheet" href="../style/estilo.css">
</head>

<body>
    <header>
        <div id="cabecalho">
            <h1>Matheus Vieira Santos</h1>
        </div>
        <nav>
            <a href="../index.html">Inicío</a>
            <a href="projetos.html">Projetos</a>
            <a href="formacao.html">Formação</a>
            <a href="sobremim.html">Sobre mim</a>
            <a class="selected" href="#">Contato</a>
        </nav>
    </header>
    <hr>
    <h1>Contato</h1>
    <br />
    <br />
    <section class="container" style="width: 96%;">
        <h1 id="titulo">Contato</h1>
        <p>Efapi - Chapecó - SC - Brasil<br /> Telefone: +55 49 9 8870-6208<br /> E-mail: matheus.eu.mv@gmail.com<br />
            Redes sociais: @vieir4ndo<br />
        </p>
    </section>
    <footer>
        <a href="https://www.facebook.com/vieir4ndo">
            <img src="../img/logo/facebook.png">
        </a>
        <a href="http://lattes.cnpq.br/0931720369732237">
            <img src="../img/logo/lattes.png">
        </a>
        <a href="https://www.linkedin.com/in/vieir4ndo/">
            <img src="../img/logo/linkedIn.png">
        </a>
        <h3>© Copyright 2022 - All Rights Reserved - Matheus Vieira Santos</h3>
    </footer>
</body>

</html>