<!DOCTYPE html>
<html>

<head>
    <title> Matheus Vieira Santos </title>
    <link rel="stylesheet" href="../style/estilo.css">
</head>

<body>
    <header>
        <div id="cabecalho">
            <h1>Matheus Vieira Santos</h1>
        </div>
        <nav>
            <a href="../index.html">Inicío</a>
            <a href="projetos.html">Projetos</a>
            <a class="selected" href="#">Formação</a>
            <a href="sobremim.html">Sobre mim</a>
            <a href="contato.html">Contato</a>
        </nav>
    </header>
    <hr>
    <h1>Essa é a minha formação</h1>
    <br />
    <br />
    <section class="container">
        <h1 id="titulo">Bacharelado em Ciência da Computação</h1>
        <p>Instituição: Universidade Federal da Fronteira Sul<br /> Situação: Cursando</p>
        <img src="../img\logoUffs.png">
    </section>
    <section class="container">
        <h1 id="titulo">Curso Técnino em Informática Integrado ao Ensino Médio</h1>
        <p>Instituição: Instituto Federal de Santa Catarina <br /> Situação: Concluído</p>
        <img src="../img\logoIfsc.jpg">
    </section>
    <footer>
        <a href="https://www.facebook.com/vieir4ndo">
            <img src="../img/logo/facebook.png">
        </a>
        <a href="http://lattes.cnpq.br/0931720369732237">
            <img src="../img/logo/lattes.png">
        </a>
        <a href="https://www.linkedin.com/in/vieir4ndo/">
            <img src="../img/logo/linkedIn.png">
        </a>
        <h3>© Copyright 2022 - All Rights Reserved - Matheus Vieira Santos</h3>
    </footer>
</body>

</html>