<!DOCTYPE html>
<html>
<head>
    <title>
        Matheus Vieira Santos
    </title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.0/jquery.min.js"></script>
    <link rel="stylesheet" href="../style/estilo.css">
    <script src="../functions/funcoes.js"></script>
</head>
<body>
    <header>
        <div id="cabecalho">
            <h1>Matheus Vieira Santos</h1>
        </div>
        <nav>
            <a href="../index.html">Inicío</a>
            <a class="selected" href="#">Projetos</a>
            <a href="formacao.html">Formação</a>
            <a href="sobremim.html">Sobre mim</a>
            <a href="contato.html">Contato</a>
        </nav>
    </header>
    <hr>
    <section>
        <h1>Esses são os projetos que eu já realizei</h1>
        <br />
        <br />
        <a href="https://github.com/vieir4ndo/construtoraviversa">
            <section class="container">
                <h1 id="titulo">Projeto Construtora Viver S/A - Análise e Desenvolvimento</h1>
                <p>
                    A Construtora Viver S/A é uma empresa fictícia utilizada na disciplina de Engenharia de Software do Curso Técnico em Informática do IFSC Câmpus Chapecó. Ela foi pensada como um estudo de caso, inicialmente para análise de sistemas, e posteriormente para implementação na disciplina de Programação Orientada a Objetos II. Seu sistema foi pensado de modo simples e funcional, permitindo ao escritório manter os registros de funcionários, obras, orçamentos e materiais em estoque. Como resultados, obteve-se a documentação de requisitos, de casos de uso, diagramas de classe e de atividade. Também foi implementado o presente sistema em Java desktop para a disciplina supracitada e, como forma de estudo individual, implementei-o utilizando o Entity Framework.
                </p>
                <img src="../img/contrutoraLogo.png">
            </section>
        </a>
        <a href="https://github.com/vieir4ndo/maisidoso">
            <section class="container">
                <h1 id="titulo">Projeto +Idoso - Análise e Desenvolvimento</h1>
                <p>
                    O Projeto +Idoso foi pensado com o intuito de auxiliar pessoas da terceira idade com os cuidados diários da sua saúde, criando lembretes e avisos de forma simples para ajudá-los a monitorar os seus medicamentos, práticas de atividades físicas e cuidados com alimentação. Nesse sentido, a aplicação foi desenvolvida com base em pesquisas relacionadas às necessidades dos idosos, sendo utilizadas as linguagens de marcação HTML e CSS e para implementação o PHP. Como resultados, evidenciou-se a importância da aplicação +Idoso, já que a mesma melhora a qualidade de vida dos usuários, auxiliando-os no cotidiano em suas atividades e horários.
                </p>
                <img src="../img\maisIdosoLogo.png">
            </section>
        </a>
        <a href="https://github.com/vieir4ndo/smithAdvogados">
            <section class="container">
                <h1 id="titulo">Projeto Smith Advogados - Desenvolvimento</h1>
                <p>
                    Smith Advogados é uma empresa fictícia criada na disciplina de desenvolvimento WEB II do Curso Técnico em Informática do IFSC Câmpus Chapecó. Ela foi pensada como um estudo de caso para desenvolvimento e prática de front-end em aplicações WEB.
                </p>
                <img src="../img\smithLogo.png">
            </section>
        </a>
        <a href="http://www.gecad.isep.ipp.pt/theroute/">
            <section class="container">
                <h1 id="titulo">Projeto TheRoute - Desenvolvimento</h1>
                <p>
                    O projeto TheRoute efetua estudo, pesquisa e experimentação a volta do desafio de geração automática de rotas de turismo, patrimônio, arte e cultura no norte de Portugal. A aplicação móvel The Route é um guia turístico da cidade do Porto, sempre com informações detalhadas e atualizadas. Para além de poder seguir as rotas predefinidas, o usuário também poderá criar a sua própria rota. 
                </p>
                <img src="../img\theRouteLogo.png">
            </section>
        </a>
        <a href="../docs/TransportadoraAnalise.pdf">
        <section class="container">
            <h1 id="titulo">Projeto Transportadora - Análise</h1>
            <p>
                O Projeto Transportadora foi realizado na disciplina de Análise e Desenvolvimento de Sistemas do Curso Técnico em Informática do IFSC Câmpus Chapecó. Ele foi pensado como um estudo de caso de análise de sistemas. Como resultados, obtiveram-se as documentações de requisitos, de casos de uso e os diagramas de atividade. 
            </p>
            <img src="../img/transportadoraLogo.png">
        </section>
        </a>
    </section>
    <footer>
        <a href="https://www.facebook.com/vieir4ndo">
            <img src="../img/logo/facebook.png">
        </a>
        <a href="https://lattes.cnpq.br/0931720369732237">
            <img src="../img/logo/lattes.png">
        </a>
        <a href="https://linkedin.com/in/matheus-vieira-santos1167b4144/">
            <img src="../img/logo/linkedIn.png">
        </a>
        <h3>© Copyright 2021 - All Rights Reserved - Matheus Vieira Santos</h3>
    </footer>
</body>
</html>