<!DOCTYPE html>
<html>

<head>
    <title> Matheus Vieira Santos </title>
    <link rel="stylesheet" href="../style/estilo.css">
</head>

<body>
    <header>
        <div id="cabecalho">
            <h1>Matheus Vieira Santos</h1>
        </div>
        <nav>
            <a href="../index.html">Inicío</a>
            <a href="projetos.html">Projetos</a>
            <a href="formacao.html">Formação</a>
            <a class="selected" href="#">Sobre mim</a>
            <a href="contato.html">Contato</a>
        </nav>
    </header>
    <hr>
    <section>
        <h1>Sobre mim</h1>
        <br />
        <br />
        <section class="container">
            <h1 id="titulo">Sobre mim</h1>
            <p> Olá, Me chamo Matheus Vieira Santos, sou técnico em informática pelo Instituto Federal de Santa
                Catarina, estou cursando o terceiro período de Ciência da Computação na Universidade Federal da
                Fronteira Sul e, atualmente, trabalho como Desenvolvedor Back-End Júnior na Stone. </p>
            <p>De modo geral, me considero uma pessoa extrovertida, empolgada e proativa. Acredito muito no poder
                transformador da educação e, nesse sentido, estou sempre envolvido com diversos projetos. Tenho o
                conhecimento como uma ferramenta imprescindível e dedico-me ao máximo em tudo que participo. </p>
            <p>Em 2018, durante o curso técnico no IFSC, fui selecionado para participar do Programa de Cooperação
                Internacional para Estudantes do IFSC (Propicie) no Instituto Superior de Engenharia do Porto em
                Portugal. Com isso, pude auxiliar no projeto de pesquisa TheRoute, um software para geração automática
                de rotas turísticas no norte de Portugal. Tal experiência me proporcionou não só conhecimentos técnicos,
                como linguagens de programação e frameworks, mas também uma imersão no mercado de trabalho da
                programação e como esse funciona. </p>
            <p>Ademais, quanto a minha trajetória no IFSC, também é válido destacar o projeto +Idoso, um projeto final
                que desenvolvi para a disciplina de tecnologias assistivas, pondo em prática todos os conhecimentos
                adquiridos ao longo do curso. Assim, o +Idoso é um sistema WEB para auxiliar pessoas da terceira idade
                com os cuidados diários da sua saúde, sendo implementado em PHP com banco de dados em MySQL. </p>
            <p>Atualmente tenho aprimorando projetos e ideias que tive durante o curso ténico. Nessa perspectiva, estou
                trabalhando em duas aplicações WEB em diferentes linguagens e frameworks. O primeiro, trata-se da
                Contrutora Viver S/A, um sistema para gestão administrativa que possibilita manter funcionários,
                estoque, obras e orçamentos, sendo implementado em C#, .Net, Entity e MVC. Já o segundo, trata-se da
                Transportadora Vieir4ndo, um sistema para transportadoras que permite desde a criação de uma remessa,
                até o rastreio do pacote pelo cliente final, sendo implementado com back-end em C#, .Net e Entity, e
                front-end com Angular. </p>
            <p>Por fim, se você quiser conhecer um pouco mais sobre os projetos que desenvolvi/desenvolvo, podes acessar
                meu portfólio. E para saber mais sobre mim, sanar qualquer dúvida, falar sobre planos de carreira ou
                possibilidades de emprego, podes encontrar-me no github (e todas as outras redes sociais) como
                vieir4ndo, ou então entrar em contato através do e-mail matheus.eu.mv@gmail.com. </p>
            <img src="../img\profile.jpg">
        </section>
        <footer>
            <a href="https://www.facebook.com/vieir4ndo">
                <img src="../img/logo/facebook.png">
            </a>
            <a href="http://lattes.cnpq.br/0931720369732237">
                <img src="../img/logo/lattes.png">
            </a>
            <a href="https://www.linkedin.com/in/vieir4ndo/">
                <img src="../img/logo/linkedIn.png">
            </a>
            <h3>© Copyright 2022 - All Rights Reserved - Matheus Vieira Santos</h3>
        </footer>
</body>

</html>