<!DOCTYPE html>
<html>
<head>
    <title>
        Matheus Vieira Santos
    </title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.0/jquery.min.js"></script>
    <link rel="stylesheet" href="../style/estilo.css">
    <script src="../functions/funcoes.js"></script>
</head>
<body>
    <header>
        <div id="cabecalho">
            <h1>Matheus Vieira Santos</h1>
        </div>
        <nav>
            <a href="../index.html">Inicío</a>
            <a href="projetos.html">Projetos</a>
            <a href="formacao.html">Formação</a>
            <a class="selected" href="#">Sobre mim</a>
            <a href="contato.html">Contato</a>
        </nav>
    </header>
    <hr>
    <section>
        <h1>Sobre mim</h1>
        <br />
        <br />
        <section class="container">
          <h1 id="titulo">Sobre mim</h1>
          <p>
              Olá, me chamo Matheus Vieira Santos e sou técnico em informática com ênfase em desenvolvimento de sistemas. Mas além disso, ao conhecer-me, você perceberá que tenho diversas outras qualificações. Sou também um teacher bacana, um eletricista intusiasta, um mecânico amador, um administrador com visão estratégica e um web designer quebra-galho.
              <br /><br />
              Sei que as minhas habilidades combinadas são um tanto quanto randomicas e, até mesmo, incomuns. Entretanto, acredito que as mesmas revelam e exemplificam muito bem minha maior motivação e pretensão, o aprender. Tenho o conhecimento como uma ferramenta com a qual sempre poderei contar e dedico-me ao máximo em tudo que participo.
              <br /><br />
              Durante minha passagem no IFSC, em 2018, fui selecionado para participar do Programa de Cooperação Internacional para estudantes do IFSC (Propicie) no Instituto Superior de Engenharia do Porto em Portugal. Com isso, pude auxiliar no projeto de pesquisa TheRoute, um software para geração automática de rotas turísticas no norte de Portugal. Tal experiência me proporcionou não só conhecimentos técnicos, como linguagens de programação e frameworks, mas também uma imersão no mercado de trabalho da programação e como esse funciona.
              <br /><br />
              Ademais, quanto a minha trajetória na instituição supracitada, também é válido destacar o projeto +Idoso. Sendo esse um projeto final que desenvolvi junto de colegas, pondo em prática todos os conhecimentos adquiridos ao longo do processo, desde análise de sistemas até a implementação do mesmo.
              <br /><br />
              Por fim, você pode entrar em contato comigo através de matheus.eu.mv@gmail.com se desejar sanar qualquer dúvida, falar sobre planos de carreira, conhecer um pouco mais sobre os projetos citados, ou sobre procura de emprego.
          </p>
          <img src="../img\profile.jpg">
        </section>
        <footer>
            <a href="https://www.facebook.com/vieir4ndo">
                <img src="../img/logo/facebook.png">
            </a>
            <a href="https://lattes.cnpq.br/0931720369732237">
                <img src="../img/logo/lattes.png">
            </a>
            <a href="https://linkedin.com/in/matheus-vieira-santos1167b4144/">
                <img src="../img/logo/linkedIn.png">
            </a>
            <h3>© Copyright 2021 - All Rights Reserved - Matheus Vieira Santos</h3>
        </footer>
</body>
</html>